//////////////////////////////
// THEME / VARIABLES / BORDERS
//////////////////////////////


@import '_variables.color-palette';
@import '_variables.sizing';


// Border color
$border-color-gray-light-light-mode: $gray-light;       // Light gray border-color in light mode
$border-color-gray-light-dark-mode: $gray-darker;       // Light gray border-color in dark mode
$border-color-gray-light: var(--b-gray-light);

$border-color-gray-lighter-light-mode: $gray-lighter;   // Lighter gray border-color in light mode
$border-color-gray-lighter-dark-mode: $gray-darker;     // Lighter gray border-color in dark mode
$border-color-gray-lighter: var(--b-gray-lighter);

$border-color-gray-lightest-light-mode: $gray-lightest; // Lightest gray border-color in light mode
$border-color-gray-lightest-dark-mode: $gray-darker;    // Lightest gray border-color in dark mode
$border-color-gray-lightest: var(--b-gray-lightest);


// Border radius
$circle: 50%;
$pill: $length-em-3; // 1em
$roundrect: 2px;
$sharp: 0;
