//////////////////////////////////
// THEME / VARIABLES / BREADCRUMBS
//////////////////////////////////


@import '_variables.color-palette';
@import '_variables.modular-scale';
@import '_variables.sizing';


// Border color
$breadcrumb-arrow-color-light-mode: $gray-dark;   // Color of breadcrumb arrows in light mode
$breadcrumb-arrow-color-dark-mode: $gray-light;   // Color of breadcrumb arrows in dark mode
$border-color-breadcrumb-arrow: var(--b-breadcrumb-arrow);


// Border width
$border-width-breadcrumb-arrow: #{ms(-8)}em;      // Size of breadcrumbs arrows: .32em


// Margin
$margin-breadcrumbs: $length-em-3;                // Margin (spacing) between breadcrumbs: .75em
