//////////////////////////////
// THEME / VARIABLES / ANCHORS
//////////////////////////////


@import '_variables.color-palette';
@import '_variables.body';


// Color
$color-link-light-mode: $brand-alpha;                 // Link color in light mode
$color-link-dark-mode: $brand-alpha-tint-0400;        // Link color in dark mode
$color-link: var(--link);

$color-visited-light-mode: $brand-alpha-shade-0300;   // Visited color in light mode
$color-visited-dark-mode: $brand-alpha-tint-0100;     // Visited color in dark mode
$color-visited: var(--visited);

$color-hover-light-mode: $brand-alpha-shade-0100;     // Hover color in light mode
$color-hover-dark-mode: $brand-alpha-tint-0300;       // Hover color in dark mode
$color-hover: var(--hover);

$color-active-light-mode: $brand-alpha-shade-0200;    // Active color in light mode
$color-active-dark-mode: $brand-alpha-tint-0200;      // Active color in dark mode
$color-active: var(--active);

$color-inverse-link-light-mode: $bg-color-body-light-mode;        // TODO: finalize state inverse link colors for theme
$color-inverse-link-dark-mode: $bg-color-body-dark-mode;          // TODO: finalize state inverse link colors for theme
$color-inverse-link: var(--inverse-link);

$color-inverse-visited-light-mode: $bg-color-body-light-mode;     // TODO: finalize state inverse link colors for theme
$color-inverse-visited-dark-mode: $bg-color-body-dark-mode;       // TODO: finalize state inverse link colors for theme
$color-inverse-visited: var(--inverse-visited);

$color-inverse-hover-light-mode: $bg-color-body-light-mode;       // TODO: finalize state inverse link colors for theme
$color-inverse-hover-dark-mode: $bg-color-body-dark-mode;         // TODO: finalize state inverse link colors for theme
$color-inverse-hover: var(--inverse-hover);

$color-inverse-active-light-mode: $bg-color-body-light-mode;      // TODO: finalize state inverse link colors for theme
$color-inverse-active-dark-mode: $bg-color-body-dark-mode;        // TODO: finalize state inverse link colors for theme
$color-inverse-active: var(--inverse-active);
