/////////////////////////////
// THEME / VARIABLES / COLORS
/////////////////////////////


// PRIMARY BRAND
$color-brand-alpha: #d00000;    // Scarlet
$color-brand-beta: #fefdfa;     // Cream
$color-brand-gamma: #c7c8ca;    // Gray

$scarlet: $color-brand-alpha;
$cream: $color-brand-beta;
$gray: $color-brand-gamma;

$scarlet-shade: scale-color($scarlet, $saturation: 10%, $lightness: -24%);
$scarlet-tint: #f6e6e3;


// SECONDARY BRAND
$color-brand-delta: #001738;    // Navy
$color-brand-epsilon: #42a7c6;  // Cerulean

$navy: $color-brand-delta;
$cerulean: $color-brand-epsilon;

$light-cerulean: mix($cream, $cerulean, 25%); // #71bdd3
$lighter-cerulean: mix($cream, $cerulean, 50%); // #


// TERTIARY / SCREEN
$color-brand-zeta: #00784e;     // Green
$color-brand-eta: #007197;      // Blue
$color-brand-theta: #b32d9c;    // Purple
$color-brand-iota: #ffd74e;     // Yellow

$green: $color-brand-zeta;
$blue: $color-brand-eta;
$purple: $color-brand-theta;
$yellow: $color-brand-iota;

$light-green: #e7f1ea;
$light-blue: #e7f0f0;
$light-purple: #f7eaf1;


// NEUTRALS
$white: #fff;
$black: #000;

$gray: mix($white, $black);           // #808080

$gray-light: lighten($gray, 27%);     // #c5c5c5
$gray-lighter: lighten($gray, 36%);   // #dcdcdc
$gray-lightest: lighten($gray, 47%);  // #f8f8f8

$gray-dark: darken($gray, 10%);       // #676767
$gray-darker: darken($gray, 24%);     // #434343
$gray-darkest: darken($gray, 32%);    // #2e2e2e

// Miscellaneous
$color-highlight: #ff0;
$color-required: #d00;
$color-kbd: #0f0;

// CONTEXTUAL COLORS
$color-info: $blue;
$color-success: $green;
$color-warning: #d53f25;
$color-danger: $scarlet-shade;


// SOCIAL MEDIA COLORS
$color-facebook: #3b5998;             // Facebook
$color-instagram: #c13584;            // Instagram
$color-linkedin: #0077b5;             // LinkedIn
$color-pinterest: #bd081c;            // Pinterest
$color-snapchat: #fffc00;             // SnapChat
$color-twitter: #1da1f2;              // Twitter
$color-youtube: #cd201f;              // YouTube
