/////////////////////////////
// THEME / VARIABLES / COLORS
/////////////////////////////


// PRIMARY BRAND
$brand-alpha: #039;                                   // #003399

$brand-alpha-tint-0100: lighten($brand-alpha, 64%);   // #e0ebff
$brand-alpha-tint-0200: lighten($brand-alpha, 60%);   // #ccddff
$brand-alpha-tint-0300: lighten($brand-alpha, 56%);   // #b8cfff
$brand-alpha-tint-0400: lighten($brand-alpha, 52%);   // #a3c2ff

$brand-alpha-shade-0100: darken($brand-alpha, 8%);    // #002570
$brand-alpha-shade-0200: darken($brand-alpha, 12%);   // #001f5c
$brand-alpha-shade-0300: darken($brand-alpha, 16%);   // #001847


// NEUTRALS
$white: #fff;
$black: #000;

$gray: mix($white, $black);         // #808080

$gray-0100: lighten($gray, 48%);    // #fafafa
$gray-0200: lighten($gray, 42%);    // #ebebeb
$gray-0300: lighten($gray, 36%);    // #dcdcdc
$gray-0400: lighten($gray, 30%);    // #cdcdcd
$gray-0500: $gray;                  // #808080
$gray-0600: darken($gray, 20%);     // #525252
$gray-0700: darken($gray, 24%);     // #434343
$gray-0800: darken($gray, 28%);     // #393939
$gray-0900: darken($gray, 32%);     // #2e2e2e
$gray-1000: darken($gray, 36%);     // #242424

$gray-lightest: $gray-0100;
$gray-lighter: $gray-0200;
$gray-light: $gray-0300;

$gray-dark: $gray-0700;
$gray-darker: $gray-0800;
$gray-darkest: $gray-0900;


// Miscellaneous
$highlight: #ff0;
$required: #900;
$kbd: #0f0;


// CONTEXTUAL COLORS
$info: #039;
$success: #060;
$warning: #c30;
$danger: #900;


// SOCIAL MEDIA COLORS
$facebook: #3b5998;     // Facebook
$instagram: #c13584;    // Instagram
$linkedin: #0077b5;     // LinkedIn
$pinterest: #bd081c;    // Pinterest
$snapchat: #fffc00;     // SnapChat
$twitter: #1da1f2;      // Twitter
$youtube: #cd201f;      // YouTube
