///////////////////////////////
// THEME / COMPONENTS / BUTTONS
///////////////////////////////



.theme .dcf-btn {
  transition: all $hover-off;
}


.theme .dcf-btn:hover {
  transition: all $hover-on;
}



// Primary Button
.theme .dcf-btn-primary:visited {
  background-color: $color-visited-light-mode;
  border-color: $color-visited-light-mode;
}


.theme .dcf-btn-primary:active,
.theme .dcf-btn-primary.dcf-active {
  background-color: $color-active-light-mode;
  border-color: $color-active-light-mode;
}


.theme .dcf-btn-primary:not(:disabled):hover {
  background-color: $color-hover-light-mode;
  border-color: $color-hover-light-mode;
}


// Secondary Button
.theme .dcf-btn-secondary:visited {
  color: $color-visited-light-mode;
}


.theme .dcf-btn-secondary:active,
.theme .dcf-btn-secondary.dcf-active {
  color: $color-active-light-mode;
}


.theme .dcf-btn-secondary:not(:disabled):hover {
  background-color: lighten($color-button-secondary-light-mode,56%);
  color: $color-hover-light-mode;
}


// Tertiary Button
.theme .dcf-btn-tertiary:visited {
  color: $color-visited-light-mode;
}


.theme .dcf-btn-tertiary:active,
.theme .dcf-btn-tertiary.dcf-active {
  color: $color-active-light-mode;
}


.theme .dcf-btn-tertiary:not(:disabled):hover {
  background-color: lighten($color-button-tertiary-light-mode,56%);
  color: $color-hover-light-mode;
}


// Inverse Buttons
.theme .dcf-btn-inverse-primary:not(:disabled):hover {
  background-color: fade-out($bg-color-button-inverse-primary-light-mode, .16);
}


.theme .dcf-btn-inverse-secondary:not(:disabled):hover,
.theme .dcf-btn-inverse-tertiary:not(:disabled):hover {
  background-color: fade-out($color-button-inverse-secondary-light-mode, .84);
}
